## .NET Core
**/bin/
**/obj/
**/.vs/
**/.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Logs and temporary files
*.log
*.tmp

## Frontend / Node (for client)
**/node_modules/
**/dist/
**/.output/
**/.nuxt/
.env.local

## OS Files
.DS_Store
Thumbs.db